---
import Image from "../common/Image.astro";
---

<script type="text/javascript" src="https://grwapi.net/widget.min.js" async></script>
<div class="review-widget_net flex justify-center" data-uuid="c2dee0cb-0433-46ff-87d7-84f9af94cad4" data-template="10" data-lang="fr" data-theme="light">
    <a href="https://search.google.com/local/reviews?placeid=ChIJyy91OuSXDEgRUFCTq9XKMNU">
        <Image src="~/assets/images/google-avis-client.webp" alt="Produits de manucure" height={200} width={200} layout="contained" />
    </a>
</div>